@model TicketParcial.Models.TicketTurnoModel

@{
    ViewData["Title"] = "Crear PDF";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title text-center font-weight-bold">Comprobante del ticket</h3>
        </div>
        <div class="card-body p-4">
            <div class="row mb-5 mt-3">
                <div class="col-12 d-flex justify-content-end text-right">
                    <h3 class="font-weight-bold">
                        Ticket @Html.DisplayNameFor(model => model.ID): #@Html.DisplayFor(model => model.ID)
                    </h3>
                    <h5 class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.nombreRealiza):
                        <span class="font-weight-light">
                            @Html.DisplayFor(model => model.nombreRealiza)
                        </span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.curp)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.nombre)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.paterno)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.materno)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.telefono)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.celular)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.correo)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.curp)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.nombre)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.paterno)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.materno)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.telefono)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.celular)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.correo)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>