@model TicketParcial.Models.PDFModel

@{
    ViewData["Title"] = "Crear PDF";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title text-center font-weight-bold">Comprobante del ticket</h3>
        </div>
        <div class="card-body p-4">
            <div class="row mb-5 mt-3">
                <div class="col-12">
                    <img src="@Html.DisplayFor(model => model.QRCodeModel.QRCodeURI)" class="img-fluid border" width="120" height="120" />
                    <div class="col-12 text-right">
                        <h3 class="font-weight-bold">
                            Ticket @Html.DisplayNameFor(model => model.TicketTurnoModel.ID): #@Html.DisplayFor(model => model.TicketTurnoModel.ID)
                        </h3>
                        <h3 class="font-weight-bold">
                            Turno por municipio: #@Html.DisplayFor(model => model.TicketTurnoModel.munTickID)
                        </h3>
                        <h5 class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.TicketTurnoModel.nombreRealiza):
                            <span class="font-weight-light">
                                @Html.DisplayFor(model => model.TicketTurnoModel.nombreRealiza)
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.curp)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.nombre)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.paterno)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.materno)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.telefono)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.celular)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.correo)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.asunto.descripcion)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.municipio.descripcion)
                                </th>
                                <th class="text-center align-middle">
                                    @Html.DisplayNameFor(model => model.TicketTurnoModel.nivel.descripcion)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.curp)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.nombre)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.paterno)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.materno)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.telefono)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.celular)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.correo)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.asunto.descripcion)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.municipio.descripcion)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(model => model.TicketTurnoModel.nivel.descripcion)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>