@model IEnumerable<TicketParcial.Models.AsuntoModel>

@{
    ViewData["Title"] = "Asuntos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Asuntos</h1>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
