@model TicketParcial.Models.TicketTurnoModel

@{
    ViewData["Title"] = "Eliminar ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a type="button" asp-action="Index" class="btn btn-secondary mb-5">
    <i class="bi bi-arrow-return-left mr-1"></i>
    Regresar
</a>

<div class="text-center mb-5">
    <h5 class="font-weight-bold"> ¿Estas seguro de que quieres eliminar este ticket?</h5>
    <small class="text-center">Esta acción no podrá ser revertida.</small>

</div>

<div class="row d-flex justify-content-around">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-content"">
                <dl class="row p-4">
                    <dt class="col-12 col-md-4">
                        @Html.DisplayNameFor(model => model.nombreRealiza):
                    </dt>
                    <dd class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.nombreRealiza)
                    </dd>
                    <dt class="col-12 col-md-4">
                        @Html.DisplayNameFor(model => model.curp):
                    </dt>
                    <dd class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.curp)
                    </dd>
                    <dt class="col-12 col-md-4">
                        @Html.DisplayNameFor(model => model.nombre):
                    </dt>
                    <dd class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.nombre)
                    </dd>
                    <dt class="col-12 col-md-4">
                        @Html.DisplayNameFor(model => model.paterno):
                    </dt>
                    <dd class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.paterno)
                    </dd>
                    <dt class="col-12 col-md-4">
                        @Html.DisplayNameFor(model => model.materno):
                    </dt>
                    <dd class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.materno)
                    </dd>
                    <dt class="col-12 col-md-4">
                        @Html.DisplayNameFor(model => model.telefono):
                    </dt>
                    <dd class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.telefono)
                    </dd>
                    <dt class="col-12 col-md-4">
                        @Html.DisplayNameFor(model => model.celular):
                    </dt>
                    <dd class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.celular)
                    </dd>
                    <dt class="col-12 col-md-4">
                        @Html.DisplayNameFor(model => model.correo):
                    </dt>
                    <dd class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.correo)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 d-flex justify-content-around">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <button type="submit" value="Eliminar" class="btn btn-danger">
                <i class="bi bi-trash mr-1"></i>
                Eliminar ticket
            </button>
        </form>
    </div>
</div>
