@model IEnumerable<TicketParcial.Models.TicketTurnoModel>

@{
    ViewData["Title"] = "Buscar ticket de turno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-5">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-around align-items-center">
                <h5 class="font-weight-bold">Tickets de turno</h5>
            </div>
            <div class="card-content p-4">
                <form asp-controller="TicketTurno" asp-action="Index" method="get">
                    <div class="form-group">
                        <label for="SearchString" class="control-label">CURP</label>
                        <input id="nombreRealiza" class="form-control" type="text" id="SearchString" name="SearchString" placeholder="Ingresa una CURP" />
                    </div>
                    <div class="form-group">
                        <label for="SearchString" class="control-label">Número de ticket</label>
                        <input id="nombreRealiza" class="form-control" type="text" id="ticket" name="ticket" placeholder="Ingresa un número de ticket" />
                    </div>
                    <div class="form-group d-flex justify-content-center mt-4 mb-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-search mr-1"></i>
                            Buscar ticket
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="card shadow-sm table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center align-middle">
                            @Html.DisplayNameFor(model => model.nombreRealiza)
                        </th>
                        <th class="text-center align-middle">
                            @Html.DisplayNameFor(model => model.curp)
                        </th>
                        <th class="text-center align-middle">
                            @Html.DisplayNameFor(model => model.nombre)
                        </th>
                        <th class="text-center align-middle">
                            @Html.DisplayNameFor(model => model.paterno)
                        </th>
                        <th class="text-center align-middle">
                            @Html.DisplayNameFor(model => model.materno)
                        </th>
                        <th class="text-center align-middle">
                            @Html.DisplayNameFor(model => model.telefono)
                        </th>
                        <th class="text-center align-middle">
                            @Html.DisplayNameFor(model => model.celular)
                        </th>
                        <th class="text-center align-middle">
                            @Html.DisplayNameFor(model => model.correo)
                        </th>
                        <th class="text-center align-middle">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.nombreRealiza)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.curp)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.paterno)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.materno)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.celular)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.correo)
                        </td>
                        <td class="text-center align-middle">
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning text-white">
                                    <i class="bi bi-pencil mr-1"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">
                                    <i class="bi bi-eye mr-1"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>